## User Experience Analysis

In [8]:
# import required packages and modules
import sys
sys.path.insert(0,'../scripts/')

import pandas as pd
import numpy as np
from numpy import percentile

import seaborn as sns
import matplotlib.pyplot as plt

# ignore warnings
import warnings
warnings.filterwarnings('ignore')

In [9]:
# load the cleaned dataset
df = pd.read_csv('../data/cleaned_telecom_data_source.csv', index_col=0)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 150001 entries, 0 to 150000
Data columns (total 61 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   Bearer Id                       150001 non-null  float64
 1   Start                           150001 non-null  object
 2   Start ms                        150001 non-null  float64
 3   End                             150001 non-null  object
 4   End ms                          150001 non-null  float64
 5   Dur. (ms)                       150001 non-null  float64
 6   IMSI                            150001 non-null  float64
 7   MSISDN/Number                   150001 non-null  float64
 8   IMEI                            150001 non-null  float64
 9   Last Location Name              150001 non-null  object
 10  Avg RTT DL (ms)                 150001 non-null  float64
 11  Avg RTT UL (ms)                 150001 non-null  float64
 12  Avg Bearer TP DL (kbps)         150001 non-null  float64
 13  Avg Bearer TP UL (kbps)         150001 non-null  float64
 14  DL TP < 50 Kbps (%)             150001 non-null  float64
 15  50 Kbps < DL TP < 250 Kbps (%)  150001 non-null  float64
 16  250 Kbps < DL TP < 1 Mbps (%)   150001 non-null  float64
 17  DL TP > 1 Mbps (%)              150001 non-null  float64
 18  UL TP < 10 Kbps (%)             150001 non-null  float64
 19  10 Kbps < UL TP < 50 Kbps (%)   150001 non-null  float64
 20  50 Kbps < UL TP < 300 Kbps (%)  150001 non-null  float64
 21  UL TP > 300 Kbps (%)            150001 non-null  float64
 22  Activity Duration DL (ms)       150001 non-null  float64
 23  Activity Duration UL (ms)       150001 non-null  float64
 24  Dur. (ms).1                     150001 non-null  float64
 25  Handset Manufacturer            150001 non-null  object
 26  Handset Type                    150001 non-null  object
 27  Nb of sec with Vol DL < 6250B   150001 non-null  float64
 28  Nb of sec with Vol UL < 1250B   150001 non-null  float64
 29  Social Media DL (Bytes)         150001 non-null  float64
 30  Social Media UL (Bytes)         150001 non-null  float64
 31  Google DL (Bytes)               150001 non-null  float64
 32  Google UL (Bytes)               150001 non-null  float64
 33  Email DL (Bytes)                150001 non-null  float64
 34  Email UL (Bytes)                150001 non-null  float64
 35  Youtube DL (Bytes)              150001 non-null  float64
 36  Youtube UL (Bytes)              150001 non-null  float64
 37  Netflix DL (Bytes)              150001 non-null  float64
 38  Netflix UL (Bytes)              150001 non-null  float64
 39  Gaming DL (Bytes)               150001 non-null  float64
 40  Gaming UL (Bytes)               150001 non-null  float64
 41  Other DL (Bytes)                150001 non-null  float64
 42  Other UL (Bytes)                150001 non-null  float64
 43  Total UL (Bytes)                150001 non-null  float64
 44  Total DL (Bytes)                150001 non-null  float64
 45  Total Data (Bytes)              150001 non-null  float64
 46  Social Media (Bytes)            150001 non-null  float64
 47  Google (Bytes)                  150001 non-null  float64
 48  Youtube (Bytes)                 150001 non-null  float64
 49  Netflix (Bytes)                 150001 non-null  float64
 50  Gaming (Bytes)                  150001 non-null  float64
 51  Email (Bytes)                   150001 non-null  float64
 52  Other (Bytes)                   150001 non-null  float64
 53  Social Media (MB)               150001 non-null  float64
 54  Google (MB)                     150001 non-null  float64
 55  Youtube (MB)                    150001 non-null  float64
 56  Netflix (MB)                    150001 non-null  float64
 57  Gaming (MB)                     150001 non-null  float64
 58  Email (MB)                      150001 non-null  float64
 59  Other (MB)                      150001 non-null  float64
 60  Total Data (MB)                 150001 non-null  float64
dtypes: float64(56), object(5)
memory usage: 71.0+ MB

### Task 3. 1 - Aggregate, per customer, the following information (treat missing & outliers by replacing by the mean or the mode of the corresponding variable):
- Average TCP retransmission
- Average RTT
- Handset type
- Average throughput

### Task 3.2 - Compute & list 10 of the top, bottom and most frequent:
* TCP values in the dataset. 
- RTT values in the dataset.
- Throughput values in the dataset.

### Task 3.3 - Compute & report:
The distribution of the average throughput  per handset type and provide interpretation for your findings.
The average TCP retransmission view per handset type and provide interpretation for your findings.

### Task 3.4 - Using the experience metrics above, 
- perform a k-means clustering (where k = 3) to segment users into groups of experiences and provide a brief description of each cluster. 
- (The description must define each group based on your understanding of the data)