In [74]:
## User Engagement Analysis

In [75]:
# import required packages and modules
import sys
sys.path.insert(0,'../scripts/')

import pandas as pd
import numpy as np
from numpy import percentile

import seaborn as sns
import matplotlib.pyplot as plt

# ignore warnings
import warnings
warnings.filterwarnings('ignore')

In [76]:
df = pd.read_csv('../data/cleaned_telecom_data_source.csv', index_col=0)

In [77]:
df.info()
df.head(1)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 150001 entries, 0 to 150000
Data columns (total 61 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   Bearer Id                       150001 non-null  float64
 1   Start                           150001 non-null  object
 2   Start ms                        150001 non-null  float64
 3   End                             150001 non-null  object
 4   End ms                          150001 non-null  float64
 5   Dur. (ms)                       150001 non-null  float64
 6   IMSI                            150001 non-null  float64
 7   MSISDN/Number                   150001 non-null  float64
 8   IMEI                            150001 non-null  float64
 9   Last Location Name              150001 non-null  object
 10  Avg RTT DL (ms)                 150001 non-null  float64
 11  Avg RTT UL (ms)                 150001 non-null  float64
 12  Avg Bearer TP DL (kbps)         150001 non-null  float64
 13  Avg Bearer TP UL (kbps)         150001 non-null  float64
 14  DL TP < 50 Kbps (%)             150001 non-null  float64
 15  50 Kbps < DL TP < 250 Kbps (%)  150001 non-null  float64
 16  250 Kbps < DL TP < 1 Mbps (%)   150001 non-null  float64
 17  DL TP > 1 Mbps (%)              150001 non-null  float64
 18  UL TP < 10 Kbps (%)             150001 non-null  float64
 19  10 Kbps < UL TP < 50 Kbps (%)   150001 non-null  float64
 20  50 Kbps < UL TP < 300 Kbps (%)  150001 non-null  float64
 21  UL TP > 300 Kbps (%)            150001 non-null  float64
 22  Activity Duration DL (ms)       150001 non-null  float64
 23  Activity Duration UL (ms)       150001 non-null  float64
 24  Dur. (ms).1                     150001 non-null  float64
 25  Handset Manufacturer            150001 non-null  object
 26  Handset Type                    150001 non-null  object
 27  Nb of sec with Vol DL < 6250B   150001 non-null  float64
 28  Nb of sec with Vol UL < 1250B   150001 non-null  float64
 29  Social Media DL (Bytes)         150001 non-null  float64
 30  Social Media UL (Bytes)         150001 non-null  float64
 31  Google DL (Bytes)               150001 non-null  float64
 32  Google UL (Bytes)               150001 non-null  float64
 33  Email DL (Bytes)                150001 non-null  float64
 34  Email UL (Bytes)                150001 non-null  float64
 35  Youtube DL (Bytes)              150001 non-null  float64
 36  Youtube UL (Bytes)              150001 non-null  float64
 37  Netflix DL (Bytes)              150001 non-null  float64
 38  Netflix UL (Bytes)              150001 non-null  float64
 39  Gaming DL (Bytes)               150001 non-null  float64
 40  Gaming UL (Bytes)               150001 non-null  float64
 41  Other DL (Bytes)                150001 non-null  float64
 42  Other UL (Bytes)                150001 non-null  float64
 43  Total UL (Bytes)                150001 non-null  float64
 44  Total DL (Bytes)                150001 non-null  float64
 45  Total Data (Bytes)              150001 non-null  float64
 46  Social Media (Bytes)            150001 non-null  float64
 47  Google (Bytes)                  150001 non-null  float64
 48  Youtube (Bytes)                 150001 non-null  float64
 49  Netflix (Bytes)                 150001 non-null  float64
 50  Gaming (Bytes)                  150001 non-null  float64
 51  Email (Bytes)                   150001 non-null  float64
 52  Other (Bytes)                   150001 non-null  float64
 53  Social Media (MB)               150001 non-null  float64
 54  Google (MB)                     150001 non-null  float64
 55  Youtube (MB)                    150001 non-null  float64
 56  Netflix (MB)                    150001 non-null  float64
 57  Gaming (MB)                     150001 non-null  float64
 58  Email (MB)                      150001 non-null  float64
 59  Other (MB)                      150001 non-null  float64
 60  Total Data (MB)                 150001 non-null  float64
dtypes: float64(56), object(5)
memory usage: 71.0+ MB

,Bearer Id,Start,Start ms,End,End ms,Dur. (ms),IMSI,MSISDN/Number,IMEI,Last Location Name,Avg RTT DL (ms),Avg RTT UL (ms),Avg Bearer TP DL (kbps),Avg Bearer TP UL (kbps),DL TP < 50 Kbps (%),50 Kbps < DL TP < 250 Kbps (%),250 Kbps < DL TP < 1 Mbps (%),DL TP > 1 Mbps (%),UL TP < 10 Kbps (%),10 Kbps < UL TP < 50 Kbps (%),50 Kbps < UL TP < 300 Kbps (%),UL TP > 300 Kbps (%),Activity Duration DL (ms),Activity Duration UL (ms),Dur. (ms).1,Handset Manufacturer,Handset Type,Nb of sec with Vol DL < 6250B,Nb of sec with Vol UL < 1250B,Social Media DL (Bytes),Social Media UL (Bytes),Google DL (Bytes),Google UL (Bytes),Email DL (Bytes),Email UL (Bytes),Youtube DL (Bytes),Youtube UL (Bytes),Netflix DL (Bytes),Netflix UL (Bytes),Gaming DL (Bytes),Gaming UL (Bytes),Other DL (Bytes),Other UL (Bytes),Total UL (Bytes),Total DL (Bytes),Total Data (Bytes),Social Media (Bytes),Google (Bytes),Youtube (Bytes),Netflix (Bytes),Gaming (Bytes),Email (Bytes),Other (Bytes),Social Media (MB),Google (MB),Youtube (MB),Netflix (MB),Gaming (MB),Email (MB),Other (MB),Total Data (MB)
0,1.311448e+19,2019-04-04 12:01:00,770.0,2019-04-25 14:35:00,662.0,1823652.0,2.082014e+14,3.366496e+10,3.552121e+13,9.16456699548519E+015,42.0,5.0,23.0,44.0,100.0,0.0,0.0,0.0,100.0,0.0,0.0,0.0,37624.0,38787.0,1.823653e+09,Samsung,Samsung Galaxy A5 Sm-A520F,213.0,214.0,1545765.0,24420.0,1634479.0,1271433.0,3563542.0,137762.0,15854611.0,2501332.0,8198936.0,9656251.0,278082303.0,14344150.0,171744450.0,8814393.0,36749741.0,308879636.0,345629377.0,1570185.0,2905912.0,18355943.0,17855187.0,292426453.0,3701304.0,180558843.0,1.570185,2.905912,18.355943,17.855187,292.426453,3.701304,180.558843,345.629377

### In the current dataset we are expected to track the user’s engagement using the following engagement metrics: 
* sessions frequency 
* the duration of the session 
* the sessions total traffic (download and upload (bytes)

In [78]:
user_engagement_df = df[['MSISDN/Number', 'Bearer Id', 'Dur. (ms)', 'Total Data (Bytes)']].copy().rename(columns={
    'Bearer Id': 'Session Frequency', 'MSISDN/Number':'User Id', 'Dur. (ms)': 'Duration', 'Total Data (Bytes)': 'Total Data Usage'})

In [79]:
user_engagement = user_engagement_df.groupby('User Id').agg({'Session Frequency': 'count', 'Duration': 'sum', 'Total Data Usage': 'sum'})
user_engagement.head(10)

              Session Frequency  Duration  Total Data Usage
User Id
3.360100e+10                  1  116720.0      8.786906e+08
3.360100e+10                  1  181230.0      1.568596e+08
3.360100e+10                  1  134969.0      5.959665e+08
3.360101e+10                  1   49878.0      4.223207e+08
3.360101e+10                  2   37104.0      1.457411e+09
3.360101e+10                  2  253983.0      6.152172e+08
3.360101e+10                  2  128360.0      6.547231e+08
3.360101e+10                  1   86399.0      3.326604e+08
3.360101e+10                  2  495702.0      9.901322e+08
3.360102e+10                  1  124854.0      7.324638e+08

In [80]:
# dispaly top 10 session frequency per user
sessions = user_engagement.nlargest(10, "Session Frequency")['Session Frequency']

In [81]:
# dispaly top 10 session duration per user
duration = user_engagement.nlargest(10, "Duration")['Duration']

In [82]:
# dispaly top 10 total data usage per user
total_data_volume = user_engagement.nlargest(10, "Total Data Usage")['Total Data Usage']

In [83]:
# make use of the data_plots file( utitlity functions)
from data_plots import plot_hist,plot_count,plot_box,plot_scatter,plot_bar , plot_box_multi,plot_heatmap,plot_mult_hist

# dispaly top 10 session frequency per user
plot_mult_hist([sessions, duration, total_data_volume], 1, 3,
                                   "User Metrics", ['Session Frequency', 'Duration', 'Total Data Usage'])

ImportError: cannot import name 'plot_mult_hist' from 'data_plots' (/home/yohans/Batch6_10Academy_Training/Week1/TeleCom-Data-Analysis/notebooks/../scripts/data_plots.py)